body {
  background: linear-gradient(90deg, #a8edea, #ddecec);
  box-sizing: border-box;
}

#container {
  color: #042029;
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}

header {
  width: 92%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.01)
  );
  border-radius: 12px;
  padding: 28px;
  box-shadow: 0 6px 30px rgba(2, 6, 23, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.03);
  gap: 12px;
  align-items: center;
  margin: 10px;
  display: flex;
}

section {
  width: 92%;
  height: 800px;
  padding: 28px;
  gap: 12px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.01)
  );
  border-radius: 12px;
  box-shadow: 0 6px 30px rgba(2, 6, 23, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.03);
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
}

th {
  font-size: 20px;
  border-bottom: 3px solid white;
}

th:nth-child(2),
td:nth-child(2) {
  width: 70%;
}

td {
  border-bottom: 1px solid white;
  text-align: center;
}

tr {
  height: 50px;
}

input {
  width: 800px;
  height: 38px;
  border-radius: 10px;
  padding: 3px;
  padding-left: 10px;
  font-size: 15px;
}

button {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  border-radius: 10px;
  border: 0;
  width: 100px;
  background-color: #96d6d3;
  color: #042029;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  margin-left: auto;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #042029;
  display: grid;
  place-items: center;
}

#search {
  display: flex;
  gap: 10px;
}

/* 페이징 */
.controls-row {
  display: flex;
  align-items: center;
  justify-content: center; /* 페이징은 왼쪽, 버튼은 오른쪽 */
  position: relative;
  gap: 12px;
  padding: 12px;
  margin-top: 16px;
}

#pagination {
  margin-top: 20px;
  display: flex;

  gap: 6px;
}

#pagination button {
  padding: 6px 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  width: 30px;
}

#pagination button.active {
  background: #042029;
  color: white;
  border-color: #042029;
}

.btn-new {
  position: absolute;
  right: 0;
}
